<div class="col-md-8">
  <%= month_calendar events: @tasks do |date, tasks| %>
    <%= date.day %>

    <% tasks.each do |task| %>
      <div>
        <%= link_to "#{task.title} - #{Mobile.find_by(id: task.mobile_id)&.Mobile}", task, style: "text-decoration: none; font-size: small; color: black;" %>
      </div>
    <% end %>
  <% end %>
</div>