<p id="notice"><%= notice %></p>
<div class="main">
  <%= render "shared/header" %>
  <div class="inner">
    <div class="form__wrapper d-flex">
      <div class="page-heading">
        <%= render partial: "form" %>
      </div>
    </div>
  </div>
</div>