/* カレンダーページ */
.simple-calendar {
  .day {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #fff;
    background-color: #333;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #666;
    }
  }
  .wday-0, .wday-6 {
    color: #ff4d4d;
  }

  .wday-1, .wday-5 {
    color: #ffbb33;
  }

  .wday-2, .wday-4 {
    color: #00ccff;
  }

  .wday-3 {
    color: #33cc33;
  }

  .today {
    background-color: #ff4d4d;
    color: #fff;
  }

  .past {
    opacity: 0.5;
  }

  .future {
    opacity: 0.8;
  }

  .start-date {
    border: 2px solid #ffbb33;
    background-color: #fff;
    color: #ffbb33;
  }

  .prev-month, .next-month {
    opacity: 0.5;
  }

  .current-month {
    font-weight: bold;
  }

  .has-events {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 8px;
      height: 8px;
      background-color: #33cc33;
      border-radius: 50%;
    }
  }
}